<section data-ng-controller="WotasksController" data-ng-init="find()">
    <div class="page-header">
        <h1>Wotasks</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="wotask in wotasks" data-ng-href="#!/wotasks/{{wotask._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="wotask.created | date:'medium'"></span>
				by
				<span data-ng-bind="wotask.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="wotask.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!wotasks.$resolved || wotasks.length">
    	No Wotasks yet, why don't you <a href="/#!/wotasks/create">create one</a>?
    </div>
</section>